In [14]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
plt.style.use('ggplot')
import re

In [72]:
#read in indian yelp reviews
df = pd.read_csv('/Users/jralston/git_proj/Scrapy_project_yelp/yelp/yelp_indian.csv')

#restrict to Dhaba
df = df[df.restaurant == 'Dhaba Indian Cuisine']

#just grab rating and review text
df = df[['rating', 'text']]

#switch to lower case
df.text = df.text.apply(lambda x: x.lower())

In [132]:
sample_menu = ['mulligatawny', 'pakora', 'batata vada', 'chilli masala',
               'samosa', 'kaju', 'paneer pakora', 'baingan',
               'bhindi', 'lasuni gobi', 'savera', 'malai wai', 
               'taash kabab', 'kalmi kabab', 'tangri kabab', 'reshmi',
               'murgh kabab', 'mustard chicken tikka', 'fish amritsari',
               'luchi', 'chapli kabab', 'vada pao', 'pab bhaji',
               'chili pao', 'khurchan pao', 'keema pao',
               'bhel poori', 'batata sev poori', 'pani poori',
               'papri chaat', 'aloo tikki chaat', 'samosa chaat',
               'chole batura', 'murgh', 'murgh tandoor', 'murgh tikka',
               'malai kabab', 'seekh kabab', 'malai kabab', 'jhinga',
               'andrak', 'mixed grill', 'biryani', 'pulav', 'pulao',
               'lemon rice', 'ghee rice', 'vegan', 'wadi', 'saag',
               'bharta', 'kofta', 'mutter', 'marke paneeer', 'kali mirch',
               'saag paneer', 'saag malai', 'kadhi', 'bhindi', 'korma',
               'murgh', 'punjab murgh', 'methi murgh', 'bharta',
               'chutneywala', 'kali murch', 'butter murgh',
               'chicken tikka masala', 'murgh dahiwala', 'keema',
               'rogan josh', 'lamb dhansak', 'bhindi gosht',
               'dhaba goat curry', 'gao fish', 'patiala', 'sarson',
               'shrimp curry', 'shrimp tikka', 'roomali',
               'naan', 'garlic naan', 'onion naan', 'paneer cheese',
               'nut naan', 'kulcha', 'paratha', 'aloo paratha',
               'gobi paratha', 'tandoori roti', 'roti', 'maaki',
               'poori', 'balti', 'phaal', 'madras', 'piaza', 'kadai',
               'bhuna', 'vindaloo', 'balchao', 'korma', 'saag',
               'jalfrezi', 'achari', 'langarwali daal', 'daal tadka',
               'daal', 'ki daal', 'dhaba daal', 'rajma',
               'pickels', 'papad', 'mango chutney', 'raita',
              'chicken', 'goat', 'lamb', 'fish', 'shrimp', 'mango lassi']

sample_menu = list(set(sample_menu))

## Dish Reviews Based on Yelp Review

In [26]:
# this returns just those reviews that have the word
# in the text of the review
def subset_reviews(word, df):
    return df[df.text.str.contains(word)]

# return avg rating of revies that contain dish
def avg_review_of_dish(item, df):
    return subset_reviews(item, df).mean()

# return nuber of times dishes reviewed
def dish_count(item, df):
    return subset_reviews(item, df).shape[0]

In [29]:
# create the dish review dataframe
dish_ratings = [avg_review_of_dish(item, df)[0] for item in sample_menu]
dish_counts = [dish_count(item, df) for item in sample_menu]
data = {'dish' : sample_menu,
       'rating' : dish_ratings,
       'times_reviewed': dish_counts}
dish_df = pd.DataFrame(data)

In [39]:
# dish review dataframe
dish_df[dish_df.times_reviewed > 9].sort_values(by = 'rating', ascending=False)

                     dish    rating  times_reviewed
27                  poori  4.272727              11
99                  kadai  4.222222              18
18                  korma  4.214286              56
62                  vegan  4.214286              28
108                 murgh  4.205882              34
10                 pakora  4.172414              29
39                   saag  4.081081             111
54            saag paneer  4.053333              75
6                   phaal  4.000000              12
104  chicken tikka masala  3.978261             184
89             kali mirch  3.972222              36
2             garlic naan  3.962617             107
72                 madras  3.937500              16
52                paratha  3.933333              15
107                  naan  3.901532             457
75                   daal  3.884615              26
78                 bhindi  3.882353              17
61                biryani  3.864583              96
68               vindaloo  3.862745              51
23             onion naan  3.809524              21
48                 samosa  3.760000              75
102            rogan josh  3.722222              18
97                  kofta  3.500000              18
77                  papad  3.486486              37
67           shrimp curry  3.444444              18
19                 mutter  3.400000              10
4                   raita  3.250000              12
26                roomali  3.214286              14
42                   roti  3.190476              42

In [117]:
[x for x in subset_reviews('roti', df).text];

## Dish Review Based on Sentiment of Yelp Review

In [35]:
# create sentiment df which is text, polarity of text

from textblob import TextBlob
df_sentiment = df[['text']]
df_sentiment.text = df_sentiment.text.apply(lambda x: x.lower())
df_sentiment['polarity'] = df_sentiment.text.apply(lambda x: TextBlob(x).sentiment.polarity)

/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:3643: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [36]:
# this returns just those reviews that have the word
# in the text of the review
def subset_reviews(word, df):
    return df[df.text.str.contains(word)]

# return avg rating of revies that contain dish
def avg_review_of_dish(item, df):
    return subset_reviews(item, df).mean()

# return nuber of times dishes reviewed
def dish_count(item, df):
    return subset_reviews(item, df).shape[0]

In [40]:
# create the dish review dataframe
dish_ratings = [avg_review_of_dish(item, df_sentiment)[0] for item in sample_menu]
dish_counts = [dish_count(item, df_sentiment) for item in sample_menu]
data = {'dish' : sample_menu,
       'rating' : dish_ratings,
       'times_reviewed': dish_counts}
dish_sentiment_df = pd.DataFrame(data)

dish_sentiment_df[dish_sentiment_df.times_reviewed > 9].\
sort_values(by = 'rating', ascending=False)

                     dish    rating  times_reviewed
62                  vegan  0.264093              28
27                  poori  0.253794              11
72                 madras  0.238416              16
78                 bhindi  0.232805              17
108                 murgh  0.225904              34
99                  kadai  0.220042              18
18                  korma  0.216392              56
39                   saag  0.215595             111
6                   phaal  0.213932              12
52                paratha  0.213429              15
68               vindaloo  0.209249              51
10                 pakora  0.206978              29
75                   daal  0.206634              26
54            saag paneer  0.203448              75
2             garlic naan  0.198310             107
107                  naan  0.197663             457
48                 samosa  0.196692              75
23             onion naan  0.172149              21
97                  kofta  0.169725              18
104  chicken tikka masala  0.168270             184
89             kali mirch  0.163166              36
61                biryani  0.149846              96
67           shrimp curry  0.149235              18
26                roomali  0.144547              14
102            rogan josh  0.143056              18
77                  papad  0.130735              37
19                 mutter  0.123390              10
42                   roti  0.107206              42
4                   raita  0.090552              12

# Dish Review Based on Sentiment of Yelp Sentence

### First need to split reviews into sentences

In [137]:
# split the reviews into sentecnes
reviews_sentences = ''.join(list(df.text)).split('.')

# create a dataframe with these sentences
data = {'text' : reviews_sentences}
sentences_df = pd.DataFrame(data)
sentences_df.text = sentences_df.text.apply(lambda x: x.lower())

# create column which is polarity of text
from textblob import TextBlob
sentences_df['polarity'] = sentences_df.text.apply(lambda x: TextBlob(x).sentiment.polarity)

In [138]:
# this returns just those reviews that have the word
# in the text of the review
def subset_reviews(word, df):
    return df[df.text.str.contains(word)]

# return avg rating of revies that contain dish
def avg_review_of_dish(item, df):
    return subset_reviews(item, df).mean()

# return nuber of times dishes reviewed
def dish_count(item, df):
    return subset_reviews(item, df).shape[0]

In [139]:
list(subset_reviews('chicken tikka masala', sentences_df).text);

In [140]:
list(subset_reviews('vegan', sentences_df).text);

In [141]:
# create the dish review dataframe
dish_ratings = [avg_review_of_dish(item, sentences_df)[0] for item in sample_menu]
dish_counts = [dish_count(item, sentences_df) for item in sample_menu]
data = {'dish' : sample_menu,
       'rating' : dish_ratings,
       'times_mentioned': dish_counts}
sentences_df = pd.DataFrame(data)

In [142]:
sentences_df[sentences_df.times_mentioned > 9].\
sort_values(by = 'rating', ascending=False)

                     dish    rating  times_mentioned
9            mulligatawny  0.679250               10
66                  vegan  0.311020               39
85                  keema  0.307558               10
46            mango lassi  0.259604               76
83                 bhindi  0.251327               18
104                 kadai  0.225282               18
22                   goat  0.211917               67
25             onion naan  0.195747               25
3             garlic naan  0.170734              116
113                  naan  0.158930              565
82                  papad  0.155912               43
56                paratha  0.144271               19
30                   fish  0.138952               58
7                   phaal  0.137037               18
11                 pakora  0.123398               32
52                 samosa  0.120317               88
96                balchao  0.104836               10
42                   saag  0.088086              124
107                shrimp  0.084531               65
58            saag paneer  0.070515               83
29                  poori  0.063136               11
80                   daal  0.061190               29
5                   raita  0.054151               14
2                    lamb  0.051396              270
102                 kofta  0.043997               21
19                  korma  0.039150               63
76                 madras  0.034143               20
65                biryani  0.023972              123
45                   roti  0.016657               49
28                roomali  0.014508               15
114                 murgh  0.012909               37
71           shrimp curry -0.004123               19
72               vindaloo -0.021374               71
108            rogan josh -0.026310               21
20                 mutter -0.027356               10
94             kali mirch -0.060629               42
77                chicken -0.151866              827
110  chicken tikka masala -0.179428              199

In [148]:
print(list(sentences_df[sentences_df.times_mentioned > 9].\
sort_values(by = 'rating', ascending=False).dish))

['mulligatawny', 'vegan', 'keema', 'mango lassi', 'bhindi', 'kadai', 'goat', 'onion naan', 'garlic naan', 'naan', 'papad', 'paratha', 'fish', 'phaal', 'pakora', 'samosa', 'balchao', 'saag', 'shrimp', 'saag paneer', 'poori', 'daal', 'raita', 'lamb', 'kofta', 'korma', 'madras', 'biryani', 'roti', 'roomali', 'murgh', 'shrimp curry', 'vindaloo', 'rogan josh', 'mutter', 'kali mirch', 'chicken', 'chicken tikka masala']

# Model sentiment from dish and pick best dish

## Restrict Menu to only dishes mentioned at least 10 times

In [149]:
restricted_menu = ['mulligatawny', 'vegan', 'keema', 'bhindi', 'kadai', 'onion naan', 'garlic naan', 'naan',
                   'papad', 'paratha', 'phaal', 'pakora', 'samosa', 'balchao', 'saag', 'saag paneer', 'poori',
                   'daal', 'raita', 'kofta', 'korma', 'madras', 'biryani', 'roti', 'roomali', 'murgh',
                   'shrimp curry', 'vindaloo', 'rogan josh', 'mutter', 'kali mirch', 'chicken tikka masala']

### First need to vectorize the sentences... i.e. for each sentence make a vector of 0s and 1s that say whether a dish is mentioned in the sentence or not

In [150]:
# split the reviews into sentecnes
reviews_sentences = ''.join(list(df.text)).split('.')

# create a dataframe with these sentences
data = {'text' : reviews_sentences}
model_df = pd.DataFrame(data)
model_df.text = model_df.text.apply(lambda x: x.lower())

# create column which is polarity of text
from textblob import TextBlob
model_df['polarity'] = model_df.text.apply(lambda x: TextBlob(x).sentiment.polarity)

In [94]:
def sentence_to_vector(sentence, menu):
    return [1*(dish in sentence) for dish in menu]

In [95]:
example = 'example sentence with samosa and chicken tikka masala'
sum(sentence_to_vector(example, restricted_menu))

2

In [96]:
# split the reviews into sentecnes
reviews_sentences = ''.join(list(df.text)).split('.')
len(reviews_sentences)

10958

In [97]:
variable_sentences = [sentence_to_vector(sentence, restricted_menu) for sentence in reviews_sentences]

In [93]:
X = np.matrix(variable_sentences)
X.shape

(10958, 32)

In [151]:
len(variable_sentences)

10958

In [152]:
len(restricted_menu)

32

In [98]:
y = [TextBlob(x).sentiment.polarity for x in reviews_sentences]
len(y)

10958

In [99]:
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score

In [100]:
regr = linear_model.LinearRegression()

In [101]:
regr.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [102]:
print('Coefficients: \n', regr.coef_)

Coefficients:
 [ 0.51037981  0.14430758  0.20433381  0.11948337  0.09604364  0.05008534
  0.05201373  0.03224293  0.00310658  0.00453531  0.00616182 -0.04410407
 -0.01151628 -0.0211967   0.0551409  -0.04200342 -0.0825296  -0.0606354
 -0.08621668 -0.07675697 -0.03765091 -0.06407316 -0.0915773  -0.13396479
  0.00609038 -0.11041814 -0.10013148 -0.13741929 -0.14724768 -0.17561977
 -0.17262431 -0.32060336]

In [103]:
regr.intercept_

0.1538261253175049

In [104]:
print(restricted_menu)

['mulligatawny', 'vegan', 'keema', 'bhindi', 'kadai', 'onion naan', 'garlic naan', 'naan', 'papad', 'paratha', 'phaal', 'pakora', 'samosa', 'balchao', 'saag', 'saag paneer', 'poori', 'daal', 'raita', 'kofta', 'korma', 'madras', 'biryani', 'roti', 'roomali', 'murgh', 'shrimp curry', 'vindaloo', 'rogan josh', 'mutter', 'kali mirch', 'chicken tikka masala']

In [105]:
data = {'coef' : regr.coef_,
       'dish' : restricted_menu}
a_df = pd.DataFrame(data)
a_df

        coef                  dish
0   0.510380          mulligatawny
1   0.144308                 vegan
2   0.204334                 keema
3   0.119483                bhindi
4   0.096044                 kadai
5   0.050085            onion naan
6   0.052014           garlic naan
7   0.032243                  naan
8   0.003107                 papad
9   0.004535               paratha
10  0.006162                 phaal
11 -0.044104                pakora
12 -0.011516                samosa
13 -0.021197               balchao
14  0.055141                  saag
15 -0.042003           saag paneer
16 -0.082530                 poori
17 -0.060635                  daal
18 -0.086217                 raita
19 -0.076757                 kofta
20 -0.037651                 korma
21 -0.064073                madras
22 -0.091577               biryani
23 -0.133965                  roti
24  0.006090               roomali
25 -0.110418                 murgh
26 -0.100131          shrimp curry
27 -0.137419              vindaloo
28 -0.147248            rogan josh
29 -0.175620                mutter
30 -0.172624            kali mirch
31 -0.320603  chicken tikka masala

In [106]:
a_df.sort_values('coef')

        coef                  dish
31 -0.320603  chicken tikka masala
29 -0.175620                mutter
30 -0.172624            kali mirch
28 -0.147248            rogan josh
27 -0.137419              vindaloo
23 -0.133965                  roti
25 -0.110418                 murgh
26 -0.100131          shrimp curry
22 -0.091577               biryani
18 -0.086217                 raita
16 -0.082530                 poori
19 -0.076757                 kofta
21 -0.064073                madras
17 -0.060635                  daal
11 -0.044104                pakora
15 -0.042003           saag paneer
20 -0.037651                 korma
13 -0.021197               balchao
12 -0.011516                samosa
8   0.003107                 papad
9   0.004535               paratha
24  0.006090               roomali
10  0.006162                 phaal
7   0.032243                  naan
5   0.050085            onion naan
6   0.052014           garlic naan
14  0.055141                  saag
4   0.096044                 kadai
3   0.119483                bhindi
1   0.144308                 vegan
2   0.204334                 keema
0   0.510380          mulligatawny

In [107]:
reg = linear_model.Lasso(alpha = 0.00001)
reg.fit(X,y)

Lasso(alpha=1e-05, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False)

In [108]:
reg.coef_

array([ 4.99988806e-01,  1.41939647e-01,  1.91564479e-01,  1.14446406e-01,
        8.94767742e-02,  4.50335060e-02,  5.12665457e-02,  3.19966672e-02,
        4.43459738e-04,  0.00000000e+00,  0.00000000e+00, -4.05731251e-02,
       -1.03553310e-02, -1.00956472e-02,  4.83251649e-02, -3.42600942e-02,
       -7.02354473e-02, -5.67161294e-02, -7.83987223e-02, -7.19301299e-02,
       -3.61227046e-02, -5.80126883e-02, -9.04884540e-02, -1.30118957e-01,
        0.00000000e+00, -1.07147965e-01, -9.37812942e-02, -1.36240943e-01,
       -1.42086363e-01, -1.61934659e-01, -1.69706439e-01, -3.20448230e-01])

In [109]:
data = {'coef' : reg.coef_,
       'dish' : restricted_menu}
b_df = pd.DataFrame(data)
b_df.sort_values('coef')

        coef                  dish
31 -0.320448  chicken tikka masala
30 -0.169706            kali mirch
29 -0.161935                mutter
28 -0.142086            rogan josh
27 -0.136241              vindaloo
23 -0.130119                  roti
25 -0.107148                 murgh
26 -0.093781          shrimp curry
22 -0.090488               biryani
18 -0.078399                 raita
19 -0.071930                 kofta
16 -0.070235                 poori
21 -0.058013                madras
17 -0.056716                  daal
11 -0.040573                pakora
20 -0.036123                 korma
15 -0.034260           saag paneer
12 -0.010355                samosa
13 -0.010096               balchao
10  0.000000                 phaal
9   0.000000               paratha
24  0.000000               roomali
8   0.000443                 papad
7   0.031997                  naan
5   0.045034            onion naan
14  0.048325                  saag
6   0.051267           garlic naan
4   0.089477                 kadai
3   0.114446                bhindi
1   0.141940                 vegan
2   0.191564                 keema
0   0.499989          mulligatawny